SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=talentzik.djokodev.com
CSRF_TRUSTED_ORIGINS=https://talentzik.djokodev.com
DJANGO_SETTINGS_MODULE=config.settings.production
DB_NAME=talentzik_db
DB_USER=talentzik_user
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
REDIS_URL=redis://redis:6379/1
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media
